/******************************************
*  Author : Author   
*  Created On : Sun Dec 12 2021
*  File : styles.css
*******************************************/

#Silver{
    color: silver;
}

#Gold{
    color: gold;
}

#Bronze{
    color: brown;
}